 <div class="container-fluid"style="background-color:black">
    <div class="row">
      <nav class="navbar navbar-expand-lg bg-body-dark">
        <div class="container-fluid nav">
          <a class="navbar-brand" href="#">
          <h3 style="color: white;">deol.com.au</h3>
          <h6 style="color: white;">Car & Truck Rentals</h6>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-center" id="navbarSupportedContent" style="justify-content:center;" >
            <div class=" row mb-2 mb-lg-0 ">
          <div class="col-12">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center justify-content-center"style="gap:25px">
              <li class="nav-item">
                <a class="nav-link  text-color" aria-current="page" href="#/home">
                  <span>Home</span></a>
              </li>
              
              
              <li class="nav-item dropdown">
               
                <a class="nav-link " routerLink="location" data-bs-toggle="dropdown" aria-expanded="false">
                  Location
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/dandenong" href="#"><SPAN> <img src="../../assets/location_on.png" alt="" srcset="">  </SPAN>DANDENONG VIC</a></li>
                  <li><a class="dropdown-item" href="#sydney"><SPAN> <img src="../../assets/location_on.png" alt="" srcset="">  </SPAN>SYDNEY</a></li>
                  <li><a class="dropdown-item" href="#adelaide"><SPAN> <img src="../../assets/location_on.png" alt="" srcset="">  </SPAN>ADELAIDE</a></li>
                  <li><a class="dropdown-item" href="#tullamarine"><SPAN> <img src="../../assets/location_on.png" alt="" srcset="">  </SPAN>TULLAMARINE VIC</a></li>
                </ul>
                
</li> 






                
              
              <li class="nav-item">
                <a class="nav-link" routerLink="vehicle">
                  <span>Vehicle</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="reservation">
                <span>Reservation</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="commerical">
                  <span >Commerical</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="blogs">
                  <span>Blogs</span>
                
                
                
                </a>
              </li>
            </ul>
          </div>
          <div class="line col-12" style="margin:auto; margin-top:5px;"></div>
        <div class="col-12 text-center" >
          <ul class="navbar-nav auto me-auto res-none justify-content-center">
            <li class="nav-item d-flex">
              <span class="Dot" style="background-color:#F0C540"></span>
              <span class="nav-link" routerLink="dandenong">
              

              DANDENONG</span>
               </li>
               <li >
     
<SPAN class="nav-link" routerLink="sydney">
  
  <span class="secdot" style="background-color:#F0C540"></span>
  SYDNEY</SPAN>


               </li>
               <span class="thdot" style="background-color:#F0C540"></span>
               <li><span class="nav-link" routerLink="adelaide">ADELAIDE</span></li>

               
            
               <span class="ftdot" style="background-color:#F0C540"></span>
            <li><span class="nav-link" routerLink="tullamarine">TULLAMARINE VIC</span></li>
            
        
                   </ul> 
                   
                   
  
        </div>
        </div>
              <button class="btn "type="button" routerLink="/reservation">Book Now <span><img src="../../assets/arrow_outward (1).png" alt="" srcset=""></span>
            </button>
          </div>
        </div>
      </nav>
    </div>
  </div> 


