.line{
    border: 1px solid white;
    width: 75%;
  }
  .navbar-nav{
    padding:0 10px;
  }
  .navbar-brand{
    margin-left:40px;
  }
  .navbar-toggler{
   background-color:white;
  }
   
  .nav-link{
  
  color:white;
  

  
  }
 
   
  .btn{
    width:188px;
    height:50px;
    background-color: #F0C540;
    font-family: inherit;
      font-size: 20px;
  }
  .navbar-nav li :hover{
  
    cursor: pointer;
    color: #f0c540 !important;
  
    padding-bottom:2px;

  }
  
  
  @media only screen and (max-width:932px) and (min-width:218px){
    .nav-link{
  margin-left:100px;
  text-align: justify;
  margin-left:30px;
    }
  }
  
  .Dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    color:#F0C540;
    margin-left: 5px;
    margin-top:17px;
    
  }

.secdot{
  display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    color:#F0C540;
    margin-left: 4px;
    /* margin-top:17px; */
    
}
.thdot{
  display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    color:#F0C540;
    margin-left: 4px;
    margin-top: 17px;
}
.ftdot{
  display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    color:#F0C540;
    margin-left: 4px;
    margin-top: 17px;
}