/* /* .upper{
    background-color: #f0c540;
    padding: 20px;
    margin: auto;
    align-items: center; 
    font-size:30px;
    color:black;
    
}
.button{
    border-radius: 0;
    height: 64px;
    width: 229px;
    background-color: #000;
    color: #fff;
}
.feedButton{
    border-radius: 0;
    height: 64px;
    width: 229px;
    background-color:  #F0C540;
    border-color:black;
    margin-left:10px;
}
.footer{
    background-color: #000;
    display: flex;
    border-bottom: 1px solid white;
}
.heading1 {
    color: #f0c540;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    margin-left:10px;
}
.margan{
    margin-left:10px;
}
.heading2{
    color: #f0f8ff;
    font-family: monospace;;
    font-size: 18px;;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-left:10px;
}
.icons{
    display:flex;
    justify-content: space-evenly;
}
.insta{
    padding:10px;
}
.facebbok{
    padding:10px;  
}
.google{
    padding:10px;
}
.you-tube{
    padding:10px;   
}
.clients-s4{
    margin-left:30px;
}
.navbar-nav{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.footer1{
    background-color: #000;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    color: #fff;
}
.contact{
    display:flex;
}
.clients{
    color:white;
    font-size: 20px;
}
.copy{
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
}
.lastclass{
    background-color: #000;
    color:white;
    border-top:1px solid white;
}
.btn{
    color: #fff;
    /* margin-top: 5px; */
    /* margin-left: 10px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
.bottom{
    margin-right: 10px;
    font-family: " Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}
.heading{
    font-family: Montserrat !important;
        font-size: 30px !important;
         font-weight: 700 !important;
        line-height: 37px !important;
        letter-spacing: 0em !important;
        margin-left: 25px; 
}

@media only screen and  (max-width:3000px) {
    .imageClass{
        display:flex;
        justify-content: center;
    }
}
@media only screen and  (max-width:932px){
.deol{
    display: block !important;
}
}
@media only screen and  (max-width:932px){
    .contact{
        display: block !important;
    }
}
@media only screen and  (max-width:932px){
    .heading{
        font-family: Montserrat !important;
        font-size: 30px !important;
         font-weight: 700 !important;
        line-height: 37px !important;
        letter-spacing: 0em !important;
        margin-left: 25px;
    }
}
@media only screen and (max-width:768px){
    .footer{
        display:block;
        padding:5px;
    }
}  */ 


.upper{
    background-color: #f0c540;
    padding: 20px;
    margin: auto;
    align-items: center; 
    font-size:30px;
    color:black;
    
}
.button{
    border-radius: 0;
    height: 64px;
    width: 229px;
    background-color: #000;
    color: #fff;
}
.feedButton{
    border-radius: 0;
    height: 64px;
    width: 229px;
    background-color:  #F0C540;
    border-color:black;
    margin-left:10px;
}
/* .footer{
    background-color: #000;
    display: flex;
    border-bottom: 1px solid white;
}
.heading1 {
    color: #f0c540;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    margin-left:10px;
}
.margan{
    margin-left:10px;
}
.heading2{
    color: #f0f8ff;
    font-family: monospace;;
    font-size: 18px;;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-left:10px;
}
.icons{
    display:flex;
    justify-content: space-evenly;
}
.insta{
    padding:10px;
}
.facebbok{
    padding:10px;  
}
.google{
    padding:10px;
}
.you-tube{
    padding:10px;   
} */
.clients-s4{
    margin-left:30px;
}
.navbar-nav{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.footer1{
    background-color: #000;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    color: #fff;
}
.contact{
    display:flex;
}
.clients{
    color:white;
    font-size: 20px;
}
.copy{
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
}
.lastclass{
    background-color: #000;
    color:white;
    border-top:1px solid white;
}
.btn{
    color: #fff;
    /* margin-top: 5px; */
    margin-left: 10px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
.bottom{
    margin-right: 10px;
    font-family: " Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}
.bgdeol{
    background-color: #000;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.iconGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-center {
    text-align: center !important;
    display: flex;
}
.icon{
    margin: 15px;
}
