<div class="mt-5">
    <div class="row upper col-lg-12 col-sm-12 col-md-12">
        <div class="col-lg-7 col-sm-12 col-md-12 marginbottom1">
        <div class="heading mb-2">
         HAVE A QUESTION? FEEL FREE TO ASK....
        </div>
        </div>
        <div class="col-lg-5 col-sm-12 col-md-12 text-center imageClass">
        <button class="btn mr-4 button" type="button">
            <span class="me-3">
                <img src="../../assets/fluent_call-end-24-filled.png" class="img-fluid">
            </span> <a href="tel:0430 490 326" style="color: white;">0430 490 326</a>
        </button>
        <button type="button" routerLink="/contactus" class="bttn button2 feedButton feedback">Feedback</button>
        </div>
    </div>
 

   
<div  class="bgdeol p-3">

    <div  class="col-12 col-sm-6 col-md-8">
<h1 class="deol margan-s5">deol.com.au</h1>
<p  class="deol2 margan-s4">
    DEOL Rentals offers the best Truck & Car rental service in Australia. Wherever you
ara,We'll set you upwith the Trucks & Car rentaldeal best suited for you
</p>
    </div>
    <div  class="col-12 col-sm-12 col-md-4 text-center iconGroup">
        <span  class="icon">
<img  src="../../assets/Group 157.png" alt width="48px" height="48px">

        </span>
        <span  class="icon">
            <img  src="../../assets/Group 154.png" alt width="48px" height="48px">
            
                    </span>
                    <span  class="icon">
                        <img  src="../../assets/Group 155.png" alt width="48px" height="48px">
                        
                                </span>
                                <span  class="icon">
                                    <img  src="../../assets/Group 156.png" alt width="48px" height="48px">
                                    
                                            </span>
    </div>
    </div>




    
    <div class="footer1 p-3">
       <div class="py-2 px-4 deol mt-4">
        <div class="row">
            <div class="row col-sm-12 col-lg-8 col-md-8 contact">
            <div class="col-sm-6 col-lg-6 col-md-6 mb-sm-5 lastlist">
                <h5 class="clients-s4">CONTACT INFO:</h5>
                <ul class="navbar-nav mt-3 clients-s4">
                    <li>
                    <span class="bottom">
                        <img src="../../assets/phone_android.png">
                    </span>Car Rental Office:0430 490 326
                </li>
                <li>
                    <span class="bottom">
                        <img src="../../assets/phone_android.png">
                    </span>Car Rental Office2:0482 080 326
                </li>
                <li>
                    <span class="bottom">
                        <img src="../../assets/phone_android.png">
                    </span>Car Rental Office3:0430 490 326
                </li>
                </ul>
            </div>
                <div class="col-sm-6 col-lg-6 col-md-6 mb-sm-5 lastlist">
<h5 class="clients-s4">SERVICE HOUR:</h5>
<ul class="navbar-nav mt-3 clients-s4">
    <li>
        <span class="bottom">
            <img src="../../assets/nest_clock_farsight_analog.png" alt width="26" height="26">
        </span>Monday-Friday:09:00AM -04:00pm
    </li>
    <li>
        <span class="bottom">
            <img src="../../assets/nest_clock_farsight_analog.png" alt width="26" height="26">
        </span>Saturday:09:00AM-4:00pm
    </li>
    <li>
        <span class="bottom">
            <img src="../../assets/nest_clock_farsight_analog.png" alt width="26" height="26">
        </span>Sunday:Closed
    </li>
</ul>
                </div>
      
            </div> 
            <div class="col-sm-12 col-md-4 col-lg-4 mb-sm-5 lastlist">
                <div>
            <h5 class="clients-s4">DOWNLOADS</h5>
            <ul class="navbar-nav mt-3 clients-s4">
                <li>
                    <span class="bottom">
                        <img src="../../assets/download.png" alt width="24" height="24">
                    </span>Vehicle Hire Form
                </li>
                <li>
                    <span class="bottom">
                        <img src="../../assets/download.png" alt width="24" height="24">
                    </span>Terms & Conditions
                </li>
                <li>
                    <span class="bottom">
                        <img src="../../assets/download.png" alt width="24" height="24">
                    </span>Privacy Policy
                </li>
                <li>
                    <span class="bottom">
                        <img src="../../assets/download.png" alt width="24" height="24">
                    </span>Accident Report Form
                </li>
            </ul>
        </div>
            </div>
        
       </div>
        
    </div>
</div>
<div class="lastclass">
    <div class="col d-flex">
        <div class="footer-nav col-sm-9 col-md-8 col-lg-9">
            <div class="col client-s4">
            <button type="click" routerLink="/home" class="btn btn5">Home</button>
            <button type="click" routerLink="location" class="btn btn5">Location</button>
            <button type="click" routerLink="vehicle" class="btn btn5">Vehicle</button>
            <button type="click" routerLink="aboutus" class="btn btn5">About Us</button>
            <button type="click" routerLink="reservation" class="btn btn5">Reservation</button>
            <button type="click" routerLink="contactus" class="btn btn5">Contact Us</button>
            </div>
        </div>
        <div class="col-md-4 col-sm-3 col-lg-3">
            <p class="copy p-3">COPYRIGHT @ 2024 deol.com.au</p>
        </div>
    </div>
   </div>

