

<div class="container-fluid" >

    <div class="maincard">
        <div class="card" style="width: 25rem;">
         
            <div class="card-body">
              <div class="card-title" ><h1>Dandenong</h1></div>
              
              <div class="centre">
                <span class="img">
                    <img src="../../assets/location_on.png" alt="">
                </span>
                <p>Dandenong vic</p>
              </div>
              
              <div class="centre">
                <span class="img">
                    <img src="../../assets/phone_enabled.png" alt="">
                </span>
                <p>PHONE:4386478415</p>
              </div>
              <div class="centre">
                <span class="img">
                    <img src="../../assets/nest_clock_farsight_analog.png" alt="">
                </span>
                <p>8</p>
              </div>
              <div class="col-12 mt-4">
          <a  class="map-text">


            
           Google Map Directions</a>
              </div>
           
    
              <button (click)="onbook()" class="btn btn-book" style="background-color:#F0C540 ;height: 70px;border-radius: 0%;" routerLink="/reservation">MAKE A BOOKING <span><img src="../../assets/arrow_left_alt.png" alt=""></span></button>
            </div>
          </div>
    
    
    </div>
    
    </div>
    
    <div  class="container-fluids container base-class">

      <div  class="row">
      
      <div  class="col-lg-8">
      <div class="col">
      <p  class="dandenong-content">
      
        Beautiful Place
      </p>
      </div>
      </div>
      
      <div  class="col-lg-4">
      
      
      <div  class="col">
      
      <div  class="card location-card" style="height: 280px;">
      <div class="card-body">
      
      <div  class="col">
      
      
          <h1  class="loction-hading text-start">Why choose us ?</h1>
      
      </div>
      <div  class="col">
      <ol  class="loaction-content">
      <li>Lorem Ipsum is simply dummy text of the printing</li>
      <li>Lorem Ipsum is simply dummy text</li>
      <li>Ipsum is simply dummy text of the printing</li>
      <li>Lorem Ipsum is text of the printing</li>
      <li>Lorem Ipsum is the printing</li>
      <li>Simply dummy text of the printing</li>
      </ol>
      
      </div>
      
      
      </div>
      
      </div>
      
      
      
          </div>
      </div>
      </div>
      </div>
      
