

.conact-us{

    font-family: Montserrat, sans-serif;
    margin-bottom: 6px;
 font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    
}
.search-classmen{
    display: flex;
    justify-content: center;
    background-color: #f0c540;
    height: 50px;
    align-items: center;
}
.clear-classmen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.form-select{
    border-radius: 0%;
    border: 1px solid;
}
.form-control{
    border-radius: 0%;
    border: 1px solid;
}
.col-md-12{
    border: 1px solid;
    border-radius: 5px;
    padding-bottom: 20px;
}
.col-sm-12{
    border: 1px solid;
    border-radius: 5px;
    padding-bottom: 20px;
   
}

.borderBottomWithPadding{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;

}
.mt-3{
    margin-top: 1rem !important;
}
@media only screen and (min-width: 1200px) {
    .minibuses {
        background-size: cover !important;
        height: 300px !important;
        border-radius: 20px;
    }
}
.minibuses {
    border-radius:20px;
    display: flex;
    flex-direction: column;
    /* height: 400px; */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat !important;
    background-position: center !important;
    justify-content: flex-end;
}
.suv{
    border-radius: 20px;
}
.addOn .headingTable th {
    white-space: nowrap !important;
    text-align: center !important;
}
table tbody td {
    margin-top: 2px !important;
    padding: 10px 10px 8px;
    font-size: 12px;
    text-transform: uppercase;
    /* color: #888; */
    font-size: 14px;
}
.borderTopquantity{
   border-bottom: 1px solid;
}
.borderTotal{
    border: 1px solid;

}
table{
    width: 100%;
}
.form-check-input:checked {
    background-color:#ff4081;
}

.form-check-input:checked::before {
   
    display: block;
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 16px;}