<div >

    <div>
      <app-addon-card></app-addon-card>
    </div>
  
<div class="container"  style="margin-top: 20px;">
    <div class="row" style="display: flex;justify-content: space-between;">
     <!-- <div class="col-sm-7 mb-3 mb-sm-0 "> -->
       <div class=" col-md-12 col-lg-7 col-12"  style="padding: 20px; height: 250px; " >
        <div class="col" style="display: flex; justify-content: space-between;">
       <h5>Add Ons</h5>
       <h5>Price</h5>
       <h5>Select</h5>
       </div>
       <div class="col mt-2" style="display:flex;justify-content: flex-end; border-bottom: 1px solid;">
        <div class="form-check" >
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
        
            </label>
          </div>
          
         </div>
         <div class="col mt-2" style="display:flex;justify-content: flex-end; border-bottom: 1px solid;">
            <div class="form-check" >
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault" >
            
                </label>
              </div>
            
             </div>
             <div class="col mt-2" style="display:flex;justify-content: flex-end; border-bottom: 1px solid;">
                <div class="form-check" >
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                
                    </label>
                  </div>
                  
                 </div>
                 <div class="col mt-2" style="display:flex;justify-content: flex-end; border-bottom: 1px solid;">
                    <div class="form-check" >
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                    
                        </label>
                      </div>
                      
                     </div>
     
  
       </div>
       

       
<div  class="col-sm-12 col-md-12 col-lg-5 col-12" style="border: 1px solid; padding: 20px;">

   <h3>Sedan</h3>

   <div>

<div class="col-lg-12  mt-3 borderBottomWithPadding" style="display: flex; justify-content: center;">
<div  class="col minibuses "><img class="suv" src="../../assets/sedan.png" alt=""></div>
   </div>
</div>

<table class="table addOn">
<thead >


<tr  class="borderBottom headingTable" style="border-bottom: 1px solid;">
<th  scope="col" style="text-align: left !important;">QTY</th>
<th   scope="col">Per Day Rate</th>
<th scope="col" style="text-align: right !important;">Subtotal</th>
</tr>
</thead>
<tbody >
<tr class="borderTopquantity">

 <td style="text-align: left !important;">Days</td>
 <td  style="text-align: center !important;">$443 </td>
 <td  style="text-align: right !important;">$0.00</td>
</tr>

</tbody>
</table>
<table>
<thead>
<tr class="borderBottom headingTable">
<th></th>
<th></th>

</tr>

</thead>
<tbody>
 <tr class="borderTotal" style="border-radius: 5px !important;">
<td  style="text-align: left !important;">Total</td>
<td  style="text-align: right !important;">$0</td>
 </tr>
</tbody>
</table>

                
<div  class="cursor-button search-classmen col-sm-12 col-lg-12 mt-3">
<span routerLink="/vehicle" >Change Vehicle</span>
</div>
    </div>
    
    </div>
    </div>
    </div>




 



















