.main{
    background-color: #EEEEEE;
}
.image{
    background-size: cover;
    background-color: #8f9fad;
    background-position: 50% 0;
    min-height: 222px;
}
.title{
    margin: auto;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.top{
    margin-top:50px;
}
.trucks{
    color: #000;
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    font-family: Roboto, sans-serif;
    letter-spacing: .009375em;
    margin: auto;
}
.xtra{
    color: #f0c540;
}
.paragraph{
    font-family: Montserrat, sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    margin-top: 20px;
}
.price{
    margin-top:50px;
}
.text{
    font-family: Montserrat, sans-serif;
    color: #000;
}
.smooth{
    font-family: Montserrat, sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 22px
}
.ion-icon {
    font-size: 20px;
    color:#f0c540;
}