 <div class="container-fluid">
<div class="row row-cols-1 row-cols-md-4" style="padding: 20px;">
    <div class="col">
      <div class="card" routerLink="/dandenong">
        <img src="../../assets/fourth.jpg" class="card-img-top" style="height: 400px;">
     <div class="col-6">
      <h3 class="dan">Dandeong</h3>  
      <div class="img1"><img src="/assets/Group 168 (1).png" alt=""></div> 
  
    
    </div>
        
      </div>
    </div>
    <div class="col">
      <div class="card" routerLink="/sydney">
        <img src="../../assets/third.jpg" class="card-img-top" style="height: 400px;">
        <div class="col-6">
       <h3 class="lower">Sydney</h3> <div class="img1"><img  src="/assets/Group 168 (1).png"></div></div>
      </div>
    </div>
    <div class="col">
      <div class="card" routerLink="/adelaide">
        <img src="../../assets/second.jpg" class="card-img-top"  style="height: 400px;">
        <div class="col-6">
          <h3 class="lower">Adelaide</h3> <div class="img1"><img  src="/assets/Group 168 (1).png"></div></div>
      </div>
    </div>
    <div class="col">
      <div class="card" routerLink="/tullamarine">
        <img src="../../assets/first.jpg" class="card-img-top"  style="height: 400px;">
      <div class="col-6">
        
        <h3 class="tullas">Tullamarine Vic</h3><div class="img1"><img src="../../assets/Group 168 (1).png" alt=""></div>
      </div>
      </div>
    </div>
  </div>
  </div>
  
 

