.tag{
    position: absolute;
    margin-top: 330px;

    
}

.col-6{
    position: absolute;
    color: white; width: 100%;
    display: flex;
    margin-top: 310px;
}
.lower{width: 80%;padding-left: 5px;
    padding-top: 20px;
 
}

.tullas{
    width: 80%;
    padding-left: 5px;
    padding-top: 20px;
}
.dan{
    width: 80%;
    padding-left: 5px;
    padding-top: 20px;
    display: flex;
  
}
.img10{
    width: 20%;
}
.card-img-top{
    border-bottom-right-radius: 0.5pc;
    border-bottom-left-radius: 0.5pc;
    border-top-left-radius: 0.5pc;
    border-top-right-radius: 0.5pc;
    border: 1px solid black;

} 
