.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x)); */
    margin-left: calc(-1* var(--bs-gutter-x));
}

.mt-2 {
    margin-top: .5rem !important;
}
.border{
    border: 1px solid #050400 !important;
    padding: 20px;
    border-radius: 8px !important;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .minibuses {
        background-size: cover !important;
        height: 250px !important;
    }
}
.minibuses {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* height: 300px; */
    width: 100%;
    /* background-size: cover; */
    background-repeat: no-repeat !important;
    background-position: center !important;
}



.borderBottom {
    border-bottom: 1px solid #050400;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
table tbody td {
    margin-top: 2px !important;
    padding: 10px 10px 8px 8px;
    font-size: 12px;
    text-transform: uppercase;
    font-size: 14px;
}

td, th {
    width: 100%;
    flex: 1;
}
.borderTotal{
    color: #050400 !important;
    display: flex;
    justify-content: space-between;
} 
tr {
    width: 100%;
    display: flex; }


.conact-us {
    font-family: Montserrat, sans-serif;
    margin-bottom: 6px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    /* padding: 10px; */

}
.search-classmen {
    text-align: center;
    margin-top: 15px;
    padding: 1rem 1.5rem;
    height: 50px;
    background-color: #f0c540;
    font-size: .875rem;
    font-weight: 600;
}
.form-control{
    border-radius: 0px;
    border: 1px solid;
}
.sedan{
    border-radius: 12px;
    
}
.optionred{
    color: red;
    margin-left: 5px;
}
.borderBottom{
    border-top: 1px solid;
}