
<app-addon-card></app-addon-card>
<div class="container">
<div class="row  marginOuterZero">
<div class="col-sm-12 col-md-12 col-lg-5 col-12 mt-2 flexAll spacingRightLeftZeroReservation" style="border-radius: 8px;">
    <div  class="border">
<h3 style="border-bottom: 1px solid;">Sedan</h3>
<div >
    <div class="col-lg-12 col-sm-12 mt-2 text-center borderBottomWithPadding" style="display: flex; justify-content: center; ">
        <div  class="col minibuses" ><img class="sedan" src="../../assets/black1.png" alt=""></div>
</div>
<table  class="table addOn">
    <thead >
        <tr class="borderBottom headingTable mt-2" style="display: flex; justify-content: space-between;">
<th  scope="col" style="text-align: left !important;">QTY</th>
<th scope="col">Per Day Rate</th>
<th  scope="col" style="text-align: right !important;">Subtotal</th>
            </tr>
    </thead>
    <tbody style="border-bottom: 1px solid;">
        <tr  class="borderTopquantity">
            <td style="text-align: left !important;">5Days</td>
            <td  style="text-align: center !important;">$123 </td>
            <td  style="text-align: right !important;">$615</td>
            </tr>
    </tbody>
</table>
<table>
    <tbody>
        
        <tr  class="0borderBottom" style="display: flex;justify-content: space-between;">
        <td > Total </td>
        <td  class="ng-star-inserted"> $615 </td>
        </tr>
    </tbody>
</table>
    </div>
</div>
  </div>
  
  <div  class=" col-md-12 col-lg-7 col-12 mt-2 spacingRightLeftZeroReservation" style="border: 1px solid; padding: 30px;border-radius: 8px;">
    <div  class="row">
<div  class="col  flexAll spacingRightLeftMarginReservation">
    <h3  class="mt-2" style="border: none; font-size: 20px;">BILLING DETAILS</h3>
    
<div class="col-12">
    <label  class="form-label conact-us">
    First Name <span  class="optionred
    ">*</span>
    </label>
    
<input  formcontrolname="firstName" type="text" placeholder="Enter your last name" class="form-control inputClassText ng-untouched ng-pristine ng-invalid" fdprocessedid="1txd8k">
</div>

   
<div class="col-12">
    <label  class="form-label conact-us">
    LAST Name <span  class="optionred
    ">*</span>
    </label>
    
<input  formcontrolname="firstName" type="text" placeholder="Enter your first name" class="form-control inputClassText ng-untouched ng-pristine ng-invalid" fdprocessedid="1txd8k">
</div>

<div  class="col-12 mt-2">
    <label  class="form-label conact-us">
        contact us<span  class="optionred
        ">*</span>
    </label>
       
<input formcontrolname="firstName" type="text" placeholder="Enter your last name" class="form-control inputClassText ng-untouched ng-pristine ng-invalid" fdprocessedid="1txd8k">
</div>

<div  class="col-12 mt-2">
    <label  class="form-label conact-us">
        DRIVER LICENSE<span  class="optionred
        ">*</span>
    </label>
       
<input formcontrolname="firstName" type="text" placeholder="Enter your driver license number" class="form-control inputClassText ng-untouched ng-pristine ng-invalid" fdprocessedid="1txd8k">
</div>
<div  class="col-12 mt-2">
    <label  class="form-label conact-us">
        COMPANY NAME<span  class="optionred
        ">*</span>
    </label>
       
<input  formcontrolname="firstName" type="text" placeholder="Enter your company name" class="form-control inputClassText ng-untouched ng-pristine ng-invalid" fdprocessedid="1txd8k">
</div>

        </div>
        <h3  class="mt-4" style="font-size: 20PX;font-weight: 700;">COUNTRY / REGION Australia</h3>
        <div  class="col-12 mt-2">
<label class="form-label conact-us" >STREET ADDRESS<span  class="optionred
    ">*</span></label>
      
        <input  formcontrolname="streetAddress" type="text" placeholder="Enter your street address" class="form-control inputClassText ng-untouched ng-pristine ng-valid" fdprocessedid="tmmjq6">
        </div>
</div>
<div  class="col mt-2">
    <label class="form-label conact-us">SUBURB<span  class="optionred
        ">*</span></label>
</div>
<div  class="col">
    <input  formcontrolname="suburb" type="text" placeholder="Enter your suburb" class="form-control inputClassText ng-untouched ng-pristine ng-valid" fdprocessedid="5t6acg">
</div>
<div  class="col mt-2">
    <label  class="form-label conact-us">Country Region<span  class="optionred
        ">*</span> </label>
</div>
    <div  class="col">

    <input formcontrolname="countryRegion" type="text" placeholder="Enter your country region" class="form-control inputClassText ng-untouched ng-pristine ng-valid" fdprocessedid="8ty885">
    </div>
    <div  class="col mt-2">
        <label  class="form-label conact-us">STATE <span  class="optionred
            ">*</span></label>
    </div>
    <div class="col">
        <input  formcontrolname="state" type="text" placeholder="Enter your state" class="form-control inputClassText ng-untouched ng-pristine ng-valid" fdprocessedid="evh619">
    </div>
    <div  class="col mt-2">
        <label class="form-label conact-us">PHONE <span  class="optionred
            ">*</span></label>
    </div>
    <div  class="col">
        <input  formcontrolname="phone" type="text" placeholder="Enter your phone number" class="form-control inputClassText ng-untouched ng-pristine ng-invalid" fdprocessedid="24vsxo">
    </div>
    <div  class="col mt-2">
        <label  class="form-label conact-us">EMAIL ADDRESS <span  class="optionred
            ">*</span></label>
    </div>
    <div  class="col">
        <input _ngcontent-ng-c4173294801 formcontrolname="email" type="email" placeholder="Enter your email" class="form-control inputClassText ng-untouched ng-pristine ng-invalid" fdprocessedid="sta1q8">
    </div>
    <div  class="cursur search-classmen col-sm-12 col-lg-12 mt-4" style="background-color: #F0C540;display: flex;justify-content: center; height: 50PX;align-items: center;">
        <span>Place Order</span>
    </div>
  </div>
  </div>
  </div>