<div class="main">
<div class="heading"><h1>VEHICLE CATEGORIES</h1></div>
<div class="container-fluid">
  <div class="container">

   <div class="row mt-4 card-deck">
  <div  class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 mt-4 spacingRightLeft ng-star-inserted">
    <div class="col">
      <div class="card">
     
        <img src="../../assets/black1.png" class="card-img-top"><button class="title" >Fortuner</button>
    
        <div class="card-body"  style="height: 70px;">
       
            <h4  style="margin-left: -20px;" class="suvheading mb-3">SUV</h4>
             <button type="button"  style="width: 140px; margin-right: -20px; width: 100%;max-width: 140px;"       class="btn btn-warning" routerLink="/reservation">Book Now <img src="../../assets/arrow_outward.png" alt=""></button></div>
          
           <div class="container">
            <div class="row">
         
              <div class="col-6 ">      <img class="icon"   src="../../assets/TOL.png" alt="">2 Airbags</div>
              <div class="col-6">  <img class="icon" src="../../assets/TOL.png" alt="">Floor Mats</div>
         
              <div class="w-100 d-none d-md-block"></div>
          
              <div class="col-6 ">  <img class="icon"src="../../assets/TOL.png" alt="">4 Doors</div>
              <div class="col-6 "><img class="icon" src="../../assets/ac.png" alt="">Ac</div>
            
               <div class="row-col-12" *ngIf="showAdditionalContent" >
                <div class="row" >
         
                  <div class="col-6 "  >      <img class="icon"   src="../../assets/TOL.png" alt="">Light protectors</div>
                  <div class="col-6">  <img class="icon" src="../../assets/child.png" alt="">Heated Seat</div>
                  <div class="col-6">  <img class="icon" src="../../assets/ac.png" alt="">Reserve Camera</div>
             
               </div>
               </div>
              <div class="condition">
                <a style="color:#FFBF00;" (click)="toggleAdditionalContent()">
                 
                  <span *ngIf="showAdditionalContent">Show Less <i class="fa-solid fa-angle-up"></i></span>
        <span *ngIf="!showAdditionalContent">Show More <i class="fa-solid fa-chevron-down"></i></span>
                </a>
                
              </div>





            </div>
          </div>

   
            
        </div>
    
      </div>
    </div>
    <div  class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 mt-4 spacingRightLeft ng-star-inserted">
    <div class="col">
      <div class="card">
        <img src="../../assets/sedan.png" class="card-img-top" alt="..."><button class="title">Virtus</button>
    
        <div class="card-body" style="height: 70px;">
          <h4  style="margin-left: -20px;" class="suvheading mb-3">Sedan</h4>
          <button type="button"  style="width: 140px; margin-right: -20px; width:100%;     max-width: 140px;height:40px;"       class="btn btn-warning">Book Now <img src="../../assets/arrow_outward.png" alt=""></button>
        </div>
        
          <div class="row ">
       
            <div class="col-6 ">      <img class="icon"   src="../../assets/TOL.png" alt="">Floor Mats</div>
            <div class="col-6">  <img class="icon" src="../../assets/TOL.png" alt="">4 Doors</div>
       
            <div class="w-100 d-none d-md-block"></div>
        
            <div class="col-6 ">  <img class="icon" src="../../assets/ac.png" alt="">Ac</div>
            <div class="col-6 "><img class="icon" src="../../assets/TOL.png" alt="">Light protectors</div>

            <div class="row-col-12" *ngIf="showAdditionalContent">
              <div class="row">
       
        
                <div class="col-6">  <img class="icon" src="../../assets/child.png" alt="">Heated Seat</div>
       
           
             </div>
             </div>
             <div class="condition">
              <a style="color:#FFBF00;" (click)="toggleAdditionalContent()">
             
                <span *ngIf="showAdditionalContent">Show Less <i class="fa-solid fa-angle-up"></i></span>
      <span *ngIf="!showAdditionalContent">Show More <i class="fa-solid fa-chevron-down"></i></span>
              </a>
            </div>

            
          </div>
        
      </div>
      
    </div>
    
    </div>
    <div  class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 mt-4 spacingRightLeft ng-star-inserted">
    <div class="col">
      <div class="card">
        <img src="../../assets/compactsuv.png" class="card-img-top" alt="..."><button class="title">Xuv 300</button>
    
        <div class="card-body" style="height: 70px;">
          <h4  style="margin-left: -20px;" class="suvheading mb-3">Compact Suv</h4>
          <button type="button"  style="width: 140px; margin-right: -20px; width:100%;     max-width: 140px;height:40px;"       class="btn btn-warning">Book Now <img src="../../assets/arrow_outward.png" alt=""></button>
        </div>

        <div class="container">
          <div class="row ">
       
            <div class="col-6 ">      <img class="icon"   src="../../assets/child.png" alt="">Chlid Seat</div>
            <div class="col-6">  <img class="icon" src="../../assets/child.png" alt="">5 Seat</div>
       
            <div class="w-100 d-none d-md-block"></div>
        
            <div class="col-6 ">  <img class="icon" src="../../assets/TOL.png" alt="">2 Airbags</div>
            <div class="col-6 "><img class="icon" src="../../assets/TOL.png" alt="">Floor Mats</div>
            
            <div class="row-col-12" *ngIf="showAdditionalContent">
              <div class="row">
       
                <div class="col-6 ">      <img class="icon"   src="../../assets/TOL.png" alt="">Light protectors</div>
                <div class="col-6">  <img class="icon" src="../../assets/child.png" alt="">Heated Seat</div>
           
           
             </div>
             </div>
             <div class="condition">
              <a style="color:#FFBF00;" (click)="toggleAdditionalContent()">
              
                <span *ngIf="showAdditionalContent">Show Less <i class="fa-solid fa-angle-up"></i></span>
      <span *ngIf="!showAdditionalContent">Show More <i class="fa-solid fa-chevron-down"></i></span>
              </a>
            </div>

          </div>
        </div>
       

      </div>
    </div>
    </div>
    <div  class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 mt-4 spacingRightLeft ng-star-inserted">
    <div class="col">
      <div class="card">
        <img src="../../assets/i20.png" class="card-img-top" alt="..."><button class="title">I20</button>
    
        <div class="card-body"  style="height: 70px;">
          <h4  style="margin-left: -20px;" class="suvheading mb-3">Hatchback</h4>
          <button type="button"  style="width: 140px; margin-right: -20px; width:100%;     max-width: 140px;height:40px;"       class="btn btn-warning">Book Now <img src="../../assets/arrow_outward.png" alt=""></button>
         
        </div>
        <div class="container">
          <div class="row">
       
            <div class="col-6 ">      <img class="icon"   src="../../assets/child.png" alt="">Child Seat</div>
            <div class="col-6">  <img class="icon" src="../../assets/child.png" alt="">5 Seat</div>
       
            <div class="w-100 d-none d-md-block"></div>
        
            <div class="col-6 ">  <img class="icon" src="../../assets/TOL.png" alt="">4 Doors</div>
            <div class="col-6 "><img class="icon" src="../../assets/ac.png" alt="">Ac</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 




</div>
</div>
</div>


