  .main{
    background-color:#EEEEEE;
    margin-bottom: 0px;
  }
  
  
  .heading{
    display: flex;
    justify-content:center;
  
    padding-top: 50px;
    /* margin-top: 50px; */
}
.card{
    padding: 15px;
    border-radius: 12px;
    
}
.card-img-top{
border-top-right-radius: 20px;
border-top-left-radius: 0px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}
.card-title{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.btn {
   
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    background-color: #f0c540 !important;} 
      

.card-body{
    display: flex;
    justify-content:space-between;
}
.title{
   /* width: 120px; */
    position: absolute;
    border: none;
    height: 35px;
    font-weight: 700;
    width: auto;
}

.container-fluid{
max-width: 100%;
min-width: 100%;

}

.icon{
    margin-right: 12px;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}
.col-6{
    font-weight: 500;
}
.row{
    display: flex !important;
}
.condition{
    display:flex;
    justify-content: flex-end;
    border: none;
}