<div >

<div>
  <app-addon-card></app-addon-card>
</div>

<div class="container"  style="margin-top: 20px;">
       <div class="row" style="display: flex;justify-content: space-between;">
 
          <div class=" col-md-12 col-lg-7 col-12"  style="padding: 20px;" >
            <form [formGroup]="searchForm" (ngSubmit)="onsearch()">
          <h3>PICK UP</h3>
          <div class="col mt-2">
            <label  class="form-label conact-us">PLACE TO PICK UP THE CAR*</label>
            </div>
            <div  class="col">
              <select class="form-select" aria-label="Default select example"  formControlName="pickuplocation" [ngClass]="{'valid-input':searchForm.get('pickuplocation')?. invalid && (searchForm.get('pickuplocation')?. touched || issubmitForm)

              }" required>
                <option value="" selected>choose office</option>
                <option >DANDENONG VIC</option>
              
              </select>
            </div>
            <div *ngIf="searchForm.get('pickuplocation')?.invalid && issubmitForm"></div>

            <div _ class="row mt-2">
              <div  class="col">
              <input  type="checkbox">
              <label class="form-label conact-check">Return to the same location</label>
              </div>
              </div>
              <div class="col">
              <label  class="form-label conact-us">PICK-UP DATE/TIME*</label>
              </div>
              <div  class="col-12 dateDiv calenderDiv calendarReservationDiv" style="display: flex;">

                <div class="custom-datetime-container input-container calDateReservationDiv" style="width: 100%;">
                  <input class="form-control selectclass" type="datetime-local" >
                
              
              </div>
              </div>
              <h3  class="mt-3">RETURN</h3>
<div  class="col mt-2 ng-star-inserted">

<label  class="form-label conact-us">PLACE TO DROP THE CAR*</label>
</div>
<div class="col ng-star-inserted" >
  <select class="form-select" aria-label="Default select example"formControlName="droplocation" [ngClass]="{'valid-input':searchForm.get('droplocation')?. invalid && (searchForm.get('droplocation')?. touched || issubmitForm)
    
  }"required >
    <option value="" selected>choose office</option>
    <option >DANDENONG VIC</option>
  
  </select>
</div>

<div >
<div  class="col mt-2">
<label  class="form-label conact-us">DROP DATE/TIME*</label>

</div>
        </div>
        <div class="col-12 dateDiv calenderDiv calendarReservationDiv" style="display: flex;justify-content: space-between;">

          <div  class="custom-datetime-container input-container calDateReservationDiv" style="width: 100%;">
            <input class="form-control selectclass" type="datetime-local">  
          </div>
<!--           
          <div  class="custom-datetime-container timeSelect calTimeReservationDiv">
            <input type="time"> 
           
          </div> -->
 
          </div>
                   
<div  class="cursor-button search-classmen col-sm-12 col-lg-12 mt-3">
  <span >Continue reservation</span>
  </div>
  <div  class="clear-classmen ">

    <span  class="cursor-buttons" style="border: none;"><i class="fa-solid fa-rotate-right fa-spin"></i>Clear Data</span>
    </div>
    </form>
          </div>
          
       
        <!-- <div class="col-sm-5" style="border: 1px solid;"> -->
          
 <div  class="col-sm-12 col-md-12 col-lg-5 col-12" style="border: 1px solid; padding: 20px;">
 
      <h3>SUV</h3>

      <div>

<div class="col-lg-12  mt-3 borderBottomWithPadding" style="display: flex; justify-content: center;">
<div  class="col minibuses ng-star-inserted"><img class="suv" src="../../assets/black1.png" alt=""></div>
      </div>
</div>

<table class="table addOn">
<thead >


<tr  class="borderBottom headingTable" style="border-bottom: 1px solid;">
<th  scope="col" style="text-align: left !important;">QTY</th>
<th   scope="col">Per Day Rate</th>
<th scope="col" style="text-align: right !important;">Subtotal</th>
</tr>
</thead>
<tbody >
  <tr class="borderTopquantity">

    <td style="text-align: left !important;">Days</td>
    <td  style="text-align: center !important;">$443 </td>
    <td  style="text-align: right !important;">$0.00</td>
  </tr>

</tbody>
</table>
<table>
  <thead>
<tr class="borderBottom headingTable">
<th></th>
<th></th>

</tr>

  </thead>
  <tbody>
    <tr class="borderTotal" style="border-radius: 5px !important;">
<td  style="text-align: left !important;">Total</td>
<td  style="text-align: right !important;">$0</td>
    </tr>
  </tbody>
</table>

                   
<div  class="cursor-button search-classmen col-sm-12 col-lg-12 mt-3" routerLink="/vehicle" >
  <span routerLink="/vehicle" >Change Vehicle</span>
  </div>
       </div>
       
       </div>
       </div>
       </div>




    








   





