
<div class="container-fluid" >

<div class="maincard">
    <div class="card" style="width: 25rem;;">
     
        <div class="card-body">
          <h1 class="card-title" >Sydney</h1>
          <div class="centre">
            <span class="img">
                <img src="../../assets/location_on.png" alt="">
            </span>
            <p>sydney</p>
          </div>
          
          <div class="centre">
            <span class="img">
                <img src="../../assets/phone_enabled.png" alt="">
            </span>
            <p>PHONE:9999999</p>
          </div>
          <div class="centre">
            <span class="img">
                <img src="../../assets/nest_clock_farsight_analog.png" alt="">
            </span>
            <p>121545</p>
          </div>
          <div class="col-12 mt-4">
      <a  class="map-text">Get Google Map Directions</a>
          </div>
          

          <a  class="btn btn-book" style="background-color:#F0C540 ;height: 70px;border-radius: 0%;" routerLink="/reservation">MAKE A BOOKING <span><img src="../../assets/arrow_left_alt.png" alt=""></span></a>
        </div>
      </div>


</div>
</div>
<div  class="container-fluids container base-class">

<div  class="row">

<div  class="col-lg-8">
<div class="col">
<p  class="loaction-content">

   <span style="font-weight: 900;">Lorem Ipsum</span>  is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
</div>
</div>

<div  class="col-lg-4">


<div  class="col">

<div  class="card location-card" style="height: 280px;">
<div class="card-body">

<div  class="col">


    <h1  class="loction-hading text-start">Why choose us ?</h1>

</div>
<div  class="col">
<ol  class="loaction-content">
<li>Lorem Ipsum is simply dummy text of the printing</li>
<li>Lorem Ipsum is simply dummy text</li>
<li>Ipsum is simply dummy text of the printing</li>
<li>Lorem Ipsum is text of the printing</li>
<li>Lorem Ipsum is the printing</li>
<li>Simply dummy text of the printing</li>
</ol>


</div>


</div>

</div>



    </div>
</div>
</div>
</div>
