<div class="main">
    <div class="container-fluid">
      <div
        class="row image"
        style="background-image: url(../../assets/aboutbackground.jpg)"
      >
        <div class="col title">
          <h1>Contact Us</h1>
        </div>
      </div>
    </div>
    <div class="container container-fluid contact">
      <div class="row">
        <div class="col-12">
          <h1 style="color: #000000;">
            <strong>CONTACT US</strong>
          </h1>
        </div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="formOuter row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-12">
              <div class="col">
                <div class="col">
                  <label class="form-label conact-us">Name*</label>
                </div>
                <div class="col">
                  <input  formControlName="firstName" type="text"placeholder="Enter your firstname"class="form-control"
                    [ngClass]="{'invalid-input': contactForm.get('firstName')?.invalid && (contactForm.get('firstName')?.touched || issubmitForm)}"
                    required
                  />
                </div>
                <div *ngIf="contactForm.get('firstName')?.invalid && issubmitForm">Please enter your name.</div>
              </div>
              <div class="col">
                <div class="col">
                  <label class="form-label conact-us">EMAIL*</label>
                </div>
                <div class="col">
                  <input formControlName="email" type="email"placeholder="Enter your email" class="form-control"
                    [ngClass]="{'invalid-input': contactForm.get('email')?.invalid && (contactForm.get('email')?.touched || issubmitForm)}"
                    required />
               
                </div>
                <div *ngIf="contactForm.get('email')?.invalid && issubmitForm">Please enter a valid email.</div>
              </div>
              <div class="col">
                <div class="col">
                  <label class="form-label conact-us">PHONE NUMBER*</label>
                </div>
                <div class="col">
                  <input formControlName="phone" type="text"  placeholder="Enter your phone number" class="form-control"
                    [ngClass]="{'invalid-input': contactForm.get('phone')?.invalid && (contactForm.get('phone')?.touched || issubmitForm)}"
                    required
                  />
                </div>
                <div *ngIf="contactForm.get('phone')?.invalid && issubmitForm">Please enter your phone number.</div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-12">
              <div class="col mt-2">
                <div class="conact-us">
                  <label class="mb-2">Your message*</label>
                  <p>
                    <textarea
                      formControlName="message"  placeholder="Enter your message....." class="form-control"
                    ></textarea>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-4">
              <button type="submit" class="btn mb-4" style="padding-left: 43px; padding-right: 43px; background-color: #273f44; box-shadow: 0 2px 0 #1f3236; color: white;"
              >Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  