
.image{
    background-size: cover;
    background-color: #8f9fad;
    background-position: 50% 0;
    min-height: 222px;
}

.title{
    margin: auto;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.contact{
    margin-top: 60px;
}
.row {
   
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}
.conact-us {
    font-family: Montserrat, sans-serif;
    margin-bottom: 13px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}
input[type=text], input[type=tel], input[type=email], input[type=number] {
    font-size: 14px !important;
    border: 1px solid #050400 !important;
    height: 48px !important;
    background-color: #fff !important;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
  
    font-weight: 400;
    line-height: 1.5;

    appearance: none;
 
    background-clip: padding-box;

    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.mt-4 {
    margin-top: 1.5rem !important;
}
@media (min-width: 992px) {
    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
.formOuter {
    border-radius: 15px;
    border: 1px solid #050400 !important;
    /* margin: 30px 13px;
    padding: 40px 36px; */
    padding: 50px;
}
@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}
.mb-2 {
    margin-bottom: .5rem !important;
}
label {
    display: inline-block;
}
label {
    font-size: 14px !important;
}
P{
    margin-top: 0;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: 4px;
}
.mb-4{
    margin-bottom: 1.5rem !important;
}