.loction-backgound {
   

    display: flex;
    justify-content: flex-end;

    height: 590px;
}
.card1 {
    height: 462px;
    width: 400px;
    margin-top: 73px;
    margin-right: 111px;
    border-radius: 17px;
}
.row {
 
    display: flex;
    flex-wrap: wrap;
  
}
.cardOuter {
    display: flex;
    flex-direction: column;
}
.card-body-text {
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: .02em;
    text-align: left;
    color: #000;
}.card-button {
    background-color: #f0c540;
    color: #000;
    margin-top: 40px;
    text-align: center;
    height: 59px;
} 
.centre{
    display: flex;
    margin-top: 20px;
}
.maincard{
   
   display: flex;
   justify-content:flex-end;
   align-items:flex-end;
    margin-right: 100px;
 
}
.card{
    height: 462px;
    border-radius: 2cap;
    margin-top: 80px;

}
.btn-book{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    margin-right: 5px;
}
.card-title{
    text-decoration: underline #F0C540;
font-size: 1.2rem;



}
.centre p{

    font-weight:500;
}


.container-fluid{
    background-image: url("../../assets/first.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

}
.container-xxl{
    display: flex;
}
.col-lg-8{
    margin-top: 80px;
}  
.location-card{
box-shadow: 4px 3px 3px 3px;
}