.container-fluid{
    background-image:url("../../assets/commercial.jpeg");
    display: flex;   
    align-items: center; 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;  
    min-height: 667px;  
    position: relative;
}
.container-fluid-lower{
margin-top: 50px;

}


.container{
    display: flex;
    justify-content:space-between ;

}
.firstcontent{

    font-weight: 400;
    font-family: Open Sans;
    font-size: 18px;
width: 96%;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: justify;
    
}
.firstright{
    width: 70%;
    /* margin-left: 20%; */
}
.secondcontent{
    margin-top: 10px;

    font-weight: 400;
    font-family: Open Sans;
    font-size: 18px;
    width: 96%;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: justify;
}
.heading{
    margin-top: 30px;
}
.thirdcontent{
    font-weight: 400;
    font-family: Open Sans;
    font-size: 18px;
width: 96%;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: justify;
}
.secondheading{
    margin-top: 30px;
}
.lastcontent{
    font-weight: 400;
    font-family: Open Sans;
    font-size: 18px;
width: 96%;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: justify;

}
form{
    display: flex;
    justify-content: flex-start;
    width: 100%;
} 

    
/* 
.container-form{
padding: 30px;
} */
/* .d-flex{
    display: flex;
} */
.mb-3{
    margin-top: 10px;}
    .selct{
        margin-top: 20px;
    }
    /* .container-commercial{
        margin-top: 120px;
        margin-left: 68px;
    } */
  .form{
    width: 100%;

 
  }
  .box{
border: 1px solid;
border-radius: 14px;
padding: 6px;

  }
  .container-form{margin-top: 30px;}
