<!-- <div class="main">
<div class="container-fluid">
<div class="container-commercial">
   <h1 style="color: white;"> COMMERCIAL</h1>
</div>

</div>

</div>

<div class="container-fluid-lower">
<div class="container">
    <div class="left">
        <div class="firstcontent">Bargain Commercial is an extension of the Australian-owned and operated Bargain Car Rentals enterprise, providing comprehensive fleet solutions to cater to a variety of business needs.</div>
        <div class="secondcontent">We are committed to upholding a strong set of values that guide every aspect of our business. Our core values revolve around people, customers, suppliers, and staff, integrity, quality of product, customer satisfaction, innovation, and excellence. Bargain Commercial is no different.</div>
     <h1 class="heading">Your Fleet Solution</h1>
     <div class="thirdcontent"><a href="#/vehicle">Our fleet</a> includes Buses, Utes, Vans, Trucks, 4WD’s, and Civil & Mine Ready vehicles, allowing us to accommodate diverse industry demands. We’re proud to offer our services across Tasmania, New South Wales, Queensland, Victoria, Northern Territory & The Australian Capital Territory.<br><br>

        No matter what industry, or what the project, Bargain Commercials is your first call on building the right fleet. Our experience and expertise in creating fleet solutions combined with our wide network reach will put your project on the right footing. <br><br>
        
        As an Australian-owned business our driving force is to see every Australian project succeed.
        
        </div>
        <h1 class="secondheading">Enquire</h1>
        <div class="lastcontent">Please fill out the enquiry form on this page to express your interest in renting our commercial fleet. Alternatively, please <a href=""> book directly</a> on our website, or contact us on <a href="tel:1300 492 857">1300 492 857</a></div>



    </div>
  
 <form [formGroup]="commericalForm"(ngSubmit)="onsearch()">
        <div class="box">
     
        <div class="container-form">
    <h5 class="formheading">COMMERCIAL ENQUIRY</h5>
    <div  class="row d-flex">
        <div  class="col" >
    <label  for="inputusername" class="form-label">First Name</label>
    <input style="border: 1px solid;" type="text" formControlName="firstName" placeholder="First Name" aria-label="Username" [ngClass]="{'valid-input':
      commericalForm.get('firstName')?. invalid && (commericalForm.get('firstName')?.touched || issubmitForm)
    }"required />

</div>
<div *ngIf="commericalForm.get('firstName')?.invalid && issubmitForm"></div>
<div  class="col">
    <label for="inputusername" class="form-label">Last Name</label>
    <input style="border: 1px solid;" type="text" formControlName="lastname" placeholder="Last Name" aria-label="last Name" [ngClass]="{'invalid-input':
      commericalForm.get('lastname')?. invalid && (commericalForm.get('lastname')?.touched || issubmitForm)
    }" required />

</div>
<div *ngIf="commericalForm.get('lastname')?.invalid && issubmitForm"></div>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input style="border: 1px solid;" type="email"formControlName="email" id="exampleFormControlInput1" placeholder="please enter your name"[ngClass]="{'invalid-input':
          commericalForm.get('email')?. invalid && (commericalForm.get('email')?. touched || issubmitForm)
        }"required />
      </div>
 <div *ngIf="commericalForm.get('email')?.invalid && issubmitForm"></div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Contact Number</label>
        <input style="border: 1px solid;"type="number" formControlName="number" placeholder="please enter your contact number" [ngClass]="{'invalid-input':
          commericalForm.get('number')?.invalid && (commericalForm.get('number')?. touched || issubmitForm)
        }"required/>
      </div>
 <div *ngIf="commericalForm.get('number')?.invalid && issubmitForm"></div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Your company</label>
        <input style="border: 1px solid;" type="text" formControlName="companyname"  placeholder="please enter your company" [ngClass]="{'invalid-input':
          commericalForm.get('companyname')?. invalid && (commericalForm.get('companyname')?. touched || issubmitForm)
        }"required/>
      </div>
      <div *ngIf="commericalForm.get('companyname')?.invalid && issubmitForm"></div>
      <label  class="form-label">Passenger/Commercial </label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
      passenger
        </label>
      </div>
      
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
     commercial
        </label>
      </div>
      <div class="selct">
      <label  for="exampleFormControlInput1" class="form-label"  >Amount Spend</label>
      <select style="border: 1px solid;" class="form-select form-select-lg mb-3" formControlName="amount"[ngClass]="{'invalid-input':
        commericalForm.get('amount')?. invalid &&(commericalForm.get('amount')?.touched || issubmitForm)
      }"required>
  
       
        <option value="1">$00-19k</option>
        <option value="2">$20k-39k</option>
        <option value="2">$40k-59k</option>
        <option value="3">$100k+</option>
      </select>
      </div>
<div *ngIf="commericalForm.get('amount')?. invalid && issubmitForm "></div>
      <div class="selct" >
        <label for="exampleFormControlInput1" class="form-label">Rental Duration</label>
        <select style="border: 1px solid;" class="form-select form-select-lg mb-3" aria-label="Large select example">
    
         
          <option value="1">1-13 Days</option>
          <option value="2">14+ Days</option>
       
        </select>
        </div>
        <div class="form-floating">
          
<textarea  name="information" placeholder=" Please include any additional information that will help us in meeting your needs. These may include: project start date, project length, types of vehicles (if more than one), fleet size, etc..." aria-invalid="false" rows="10" cols="50" class="textarea large commercial-input ng-pristine ng-valid ng-touched" style="width: 100%; height: 277px; border:1px solid;"></textarea>
         
        </div>
        <div class="col-auto" style="margin-top: 15px; margin-bottom: 15px;">
          <button type="submit" class="btn" style="background-color: #f0c540;"><span style="font-size: larger;">Submit</span></button>
        </div>
  
 
</div>


</div>
</form>
</div>
</div>
 -->


 <div class="main">
  <div class="container-fluid">
    <div class="container-commercial">
      <h1 style="color: white;"> COMMERCIAL</h1>
    </div>
  </div>
</div>

<div class="container-fluid-lower">
 <div class="container">

    <div class="left">
      
      <div class="firstcontent">Bargain Commercial is an extension of the Australian-owned and operated Bargain Car Rentals enterprise, providing comprehensive fleet solutions to cater to a variety of business needs.</div>
      <div class="secondcontent">We are committed to upholding a strong set of values that guide every aspect of our business. Our core values revolve around people, customers, suppliers, and staff, integrity, quality of product, customer satisfaction, innovation, and excellence. Bargain Commercial is no different.</div>
      <h1 class="heading">Your Fleet Solution</h1>
      <div class="thirdcontent"><a href="#/vehicle">Our fleet</a> includes Buses, Utes, Vans, Trucks, 4WD’s, and Civil & Mine Ready vehicles, allowing us to accommodate diverse industry demands. We’re proud to offer our services across Tasmania, New South Wales, Queensland, Victoria, Northern Territory & The Australian Capital Territory.<br><br>
        No matter what industry, or what the project, Bargain Commercials is your first call on building the right fleet. Our experience and expertise in creating fleet solutions combined with our wide network reach will put your project on the right footing. <br><br>
        As an Australian-owned business our driving force is to see every Australian project succeed.
      </div>
      <h1 class="secondheading">Enquire</h1>
      <div class="lastcontent">Please fill out the enquiry form on this page to express your interest in renting our commercial fleet. Alternatively, please <a href=""> book directly</a> on our website, or contact us on <a href="tel:1300 492 857">1300 492 857</a></div>
    </div>

    <form [formGroup]="commericalForm" (ngSubmit)="onSearch()">
      <div class="box">
        <div class="container-form">
          <h5 class="formheading">COMMERCIAL ENQUIRY</h5>
          <div class="row d-flex">
            <div class="col">
              <label for="inputusername" class="form-label">First Name</label>
              <input style="border: 1px solid;" type="text"class="form-label" formControlName="firstName" placeholder="First Name" aria-label="Username" [ngClass]="{'valid-input': commericalForm.get('firstName')?.invalid && (commericalForm.get('firstName')?.touched || issubmitForm)}" required />
            </div>
            <div *ngIf="commericalForm.get('firstName')?.invalid && issubmitForm"></div>
            <div class="col">
              <label for="inputusername" class="form-label">Last Name</label>
              <input style="border: 1px solid;" type="text" class="form-label" formControlName="lastname" placeholder="Last Name" aria-label="last Name" [ngClass]="{'invalid-input': commericalForm.get('lastname')?.invalid && (commericalForm.get('lastname')?.touched || issubmitForm)}" required />
            </div>
            <div *ngIf="commericalForm.get('lastname')?.invalid && issubmitForm"></div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input style="border: 1px solid;" type="email" formControlName="email" id="exampleFormControlInput1" placeholder="please enter your email" [ngClass]="{'invalid-input': commericalForm.get('email')?.invalid && (commericalForm.get('email')?.touched || issubmitForm)}" required />
          </div>
          <div *ngIf="commericalForm.get('email')?.invalid && issubmitForm"></div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Contact Number</label>
            <input style="border: 1px solid;" type="number" formControlName="number" placeholder="please enter your contact number" [ngClass]="{'invalid-input': commericalForm.get('number')?.invalid && (commericalForm.get('number')?.touched || issubmitForm)}" required />
          </div>
          <div *ngIf="commericalForm.get('number')?.invalid && issubmitForm"></div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Your company</label>
            <input style="border: 1px solid;" type="text" formControlName="companyname" placeholder="please enter your company" [ngClass]="{'invalid-input': commericalForm.get('companyname')?.invalid && (commericalForm.get('companyname')?.touched || issubmitForm)}" required />
          </div>
          <div *ngIf="commericalForm.get('companyname')?.invalid && issubmitForm"></div>
          <label class="form-label">Passenger/Commercial </label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              passenger
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              commercial
            </label>
          </div>
          <div class="selct">
            <label for="exampleFormControlInput1" class="form-label">Amount Spend</label>
            <select style="border: 1px solid;" class="form-select form-select-lg mb-3" formControlName="amount" [ngClass]="{'invalid-input': commericalForm.get('amount')?.invalid && (commericalForm.get('amount')?.touched || issubmitForm)}" required>
              <option value="1">$00-19k</option>
              <option value="2">$20k-39k</option>
              <option value="2">$40k-59k</option>
              <option value="3">$100k+</option>
            </select>
          </div>
          <div *ngIf="commericalForm.get('amount')?.invalid && issubmitForm"></div>
          <div class="selct">
            <label for="exampleFormControlInput1" class="form-label">Rental Duration</label>
            <select style="border: 1px solid;" class="form-select form-select-lg mb-3" formControlName="days" [ngClass]="{'invalid-input':
              commericalForm.get('days')?.invalid && (commericalForm.get('days')?. touched || issubmitForm)
            }"required>
              <option value="1">1-13 Days</option>
              <option value="2">14+ Days</option>
            </select>
          </div>
          <div *ngIf="commericalForm.get('days')?.invalid && issubmitForm">Please choose a rental duration</div>
          <div class="form-floating">
            <textarea name="information" placeholder=" Please include any additional information that will help us in meeting your needs. These may include: project start date, project length, types of vehicles (if more than one), fleet size, etc..." aria-invalid="false" rows="10" cols="50" class="textarea large commercial-input ng-pristine ng-valid ng-touched" style="width: 100%; height: 277px; border:1px solid;"></textarea>
          </div>
          <div class="col-auto" style="margin-top: 15px; margin-bottom: 15px;">
            <button type="submit" class="btn" style="background-color: #f0c540;"><span style="font-size: larger;">Submit</span></button>
          </div>
        </div>
      </div>
    </form>
  </div>
