
.container{
    margin-top: 30px;
    border: 1px solid;
    display: flex;
    justify-content:space-around;
    

}
.number {
  
    left:0;
    top: 0;
    width: 54px;
   
    background-color: #2a4045;
    line-height: 54px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #f0c540;

}
.numbertwo{
    left:0;
    top: 0;
    width: 56px;

    background-color: #2a4045;
    line-height: 54px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  color: white;

}
.numberthree{
    left:0;
    top: 0;
    width: 54px;

    background-color: #2a4045;
    line-height: 54px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  color: white;

}

.lable-item{
    color:white;
    font-size: 16px;
    font-weight: 700;
    height: 100%;
    cursor: pointer;
    display: flex;

    
    align-items: center;
    padding-left: 15px;
    margin-top: 15px;
}

.row {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    /* padding-right: calc(var(--bs-gutter-x)* .2); */
    margin-top: var(--bs-gutter-y);
    padding: 20px;
  
}





.top[_ngcontent-ng-c1552237787] {
    position: relative;
    min-height: 54px;
    height: 54px;
    background: rgba(42, 64, 69, .5);
    padding-left: 54px;
    box-sizing: border-box;
    
}


.content {
    max-height: 307px;
    min-height: 307px;
    overflow: auto;
    padding: 25px 30px 35px;
    background: #fff;
}
.container-fluid{
   
    
        background-size: cover;
        background-color: #8f9fad;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 240px;
    
}
.topheading{
    display: flex;
    justify-content: center;
    padding-top: 60PX;
} 
 
 .row>* {

     padding-left: calc(var(--bs-gutter-x)* .5); 
    
}
.active{
    background-color: #f0c540;
}
