
<div class="container-fluid" style="background-image: url(../../assets/reservation.gif);">
    <div class="topheading"><h1>RESERVATION</h1></div> 
</div>
<div class="container">
<div  class="row">
<div  class="col-md-4 col-sm-12 " >
<div 
 class="top heading-font" routerLink="/reservation" style="display: flex; background-color: #F0c540;">
 <div 
  class="number"> 1 </div>
  <div class="lable-item" >Your Itinerary</div>
</div>
</div>
<div  class="col-md-4 col-sm-12    " routerLink="/selectvehicle">
<div
     class="top heading-font" style="display: flex; background-color: #949FA2;">
     <div 
      class="numbertwo"> 2 </div>
      <div class="lable-item" > Select Vehicle/Add-Ons</div>
    </div> 
    </div> 
<div  class="col-md-4 col-sm-12 ">
    <div
     class="top heading-font" routerLink="/yourinformation"  style="display: flex; background-color: #949FA2;">
     <div 
      class="numberthree"> 3 </div>
      <div class="lable-item">Your information</div>
    </div>
    </div>
    </div>
  
</div>
