



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let image of image; let i = index" [class]="
        i === currentsliderIndex ? 'carousel-item active' : 'carousel-item'">


      <img [src]="image.url" [alt]="image.alt" class="d-block w-100" style="height: 500px" />
    </div>
  </div>
  <div class="carousel-content">
    <div class="container-left">
      <h1 class="heading">Welcome To The Deol Car & Truck<span style="color:#f0c540;"> Rentals</span>

      </h1>
    </div>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="row">
        <div class="col col-sm-6 col-lg-6">
          <select class="form-select" aria-label="Default select example" formControlName="pickuplocation" required
            [ngClass]="{'invalid-input':
    searchForm.get('pickuplocation')?.invalid && ( searchForm.get('pickuplocation').touched || issubmitForm) }">

            <option value="" selected>Select Pickup location</option>
            <option>ssswwww</option>
          </select>
          <div class="error-input" *ngIf="searchForm.get('pickuplocation')?.invalid && issubmitForm ">
            
          </div>
        </div>
        <div class="col col-sm-6 col-lg-6">
   
          <input class="form-control selectclass" type="datetime-local"  formControlName="pickupdate" required [ngClass]="{'invalid-input':
            searchForm.get('pickupdate')?.invalid && (searchForm.get('pickupdate').touched || issubmitForm )
          }">
           <div class="error-input" *ngIf="searchForm.get('pickupdate')?.invalid && issubmitForm ">
            
           </div>
        
          
        </div>
      </div>
      <div class="row mt-4">
        <div class="col col-sm-6 col-lg-6">
          <select class="form-select" aria-label="Default select example" formControlName="droplocation" required [ngClass]="{'invalid-input':
            searchForm.get('droplocation')?. invalid && (searchForm.get('droplocation').touched || issubmitForm)
          }">

            <option value="" selected>Select Drop Off location</option>1  

            <option>ssss</option>
          </select>
            <div class="error-input" *ngIf="searchForm.get('droplocation')?.invalid && issubmitForm ">
            
           </div>
        </div>
        <div class="col col-sm-6 col-lg-6">
          <input class="form-control selectclass" type="datetime-local" formControlName="dropdate"required [ngClass]="{'invalid-input':
            searchForm.get('dropdate')?. invalid && (searchForm.get('dropdate').touched || issubmitForm)
          }">
            <div class="error-input" *ngIf="searchForm.get('dropdate')?.invalid && issubmitForm ">
            
            </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-6 col-md-6 col-xs-4 col-lg-6">
          <select class="form-select" aria-label="Default select example" formControlName="all" required [ngClass]="{'invalid-input':
            searchForm.get('all')?. invalid && (searchForm.get('all').touched || issubmitForm)
          }">
            <option value="" selected>All</option>
            <option>scs</option>

          </select>
          <div class="error-input" *ngIf="searchForm.get('all')?.invalid && issubmitForm ">  
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-12 col-md-12 col-xs-4 col-lg-4">
          <button style="width: 100%; background-color:#f0c540; height: 50PX; font-weight: 700; border: 1PX SOLID;"
            type="submit">SEARCH<SPAN><img src="../../assets/arrow_outward.png"
                style="margin-left: 10px;"></SPAN></button>
        </div>

      </div>
    </form>
  </div>

</div>



<div class="container-fluid">
  <h1>WHY CHOOSE US</h1>
</div>
<div class="container">
<div class="con row row-cols-12 row-cols-sm-3 g-4">

  <div class="col-12">
    <div class="card h-100">
      <img src="../../assets/thumb_up.png " class="card-img-top"
        style="width: 100px ;height: 100PX; background-color:#FFBF00;">
      <div class="card-body">
        <h4 class="card-title">Australia Owned Business</h4>
        <p class="card-text">Residing and running our owned business in Australia for more than a decade, our quality
          fits into standards that our clients look for.</p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card h-100">
      <img src="../../assets/insurance_1.png" class="card-img-top"
        style="width: 100PX; height: 100PX; background-color: #FFBF00">
      <div class="card-body">
        <h4 class="card-title">Quality Vehicles</h4>
        <p class="card-text">From owning quality vehicles to carrying time-to-time maintenance, we stand by our promise
          to offer best-in-class rental service.</p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card h-100">
      <img src="../../assets/solution.png" class="card-img-top"
        style="width: 100px;height: 100PX;background-color: #FFBF00;">
      <div class="card-body">
        <h4 class="card-title">Customised Solution</h4>
        <p class="card-text">Our 24X7 customer support agents are there to serve you the best deal that fits your
          pocket.</p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card h-100">
      <img src="../../assets/customer_support.png" class="card-img-top"
        style="width: 100PX; height: 100PX; background-color: #FFBF00">
      <div class="card-body">
        <h4 class="card-title">Direct Contact With Agent</h4>
        <p class="card-text">Contact our agents for direct car rental booking online. The services are apt and will take
          care of each and every aspect of yours.
        </p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card h-100">
      <img src="../../assets/best_price.png" class="card-img-top"
        style="width: 100PX; height: 100PX; background-color: #FFBF00">
      <div class="card-body">
        <h4 class="card-title">Best Prices Guarantee</h4>
        <p class="card-text">Our best price deals are known to attract customers again and again. It’s our way to offer
          best-in-class car rental experience to newbies as well as our ongoing customers..</p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card h-100">
      <img src="../../assets/stopwatch.png" class="card-img-top"
        style="width: 100PX; height: 100PX; background-color: #FFBF00">
      <div class="card-body">
        <h4 class="card-title">Short & Long Term Available</h4>
        <p class="card-text">Our online services give you the privilege to book short and long road trips at your own
          convenience. So, relax and book with the power of online services..</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container-fluid" >
  <h1>OUR LOCATION</h1>
</div>
<div class="container mt-4">
<div class="mainpic">
  
    <div class="row row-cols-12 row-cols-md-4 g-4 margan-s4"> 
 
    
    <div class="col-12">
      <div class="card h-100">
        <img src="../../assets/fourth.jpg " class="card-img" style="height: 450px;">
        <div class="col-6">
          <h3 class="dan">Dandenong</h3>
          <div class="img1"><img routerLink="/dandenong" src="/assets/Group 168 (1).png" alt=""></div>


        </div>

      </div>
    </div>
    <div class="col-12">
      <div class="card h-100">
        <img src="../../assets/third.jpg " class="card-img" style="height: 450px;">
        <div class="col-6">
          <h3 class="lower">Sydney</h3>
          <div class="img1"><img routerLink="/sydney" src="/assets/Group 168 (1).png"></div>
        </div>
      
      </div>
    </div>
    <div class="col-12">
      <div class="card h-100">
        <img src="../../assets/second.jpg" class="card-img" style="height: 450px;">
        <div class="col-6">
          <h3 class="lower">Adelaide</h3>
          <div class="img1"><img routerLink="/adelaide" src="/assets/Group 168 (1).png"></div>
        </div>
      
      </div>
    </div>
    <div class="col-12">
      <div class="card h-100">
        <img src="../../assets/first.jpg" class="card-img" style="height: 450px;">
        <div class="col-6">
          <h3 class="tullas">Tullamarine Vic</h3>
          <div class="img1"><img routerLink="/tullamarine" src="../../assets/Group 168 (1).png" alt=""></div>
        </div>
       
      </div>
    </div>
  </div>
</div>
</div>
<div class="container">
<div class="container-fluid-base" style="background-image: url(../../assets/bg-main\ 1.png);">
  <div class="row-base">
    <div class="col-12 col-sm-12 col-md-6 text-center">
      <div class="col last-img">
        <img src="../../assets/718_neu_2023 1.png">
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6">
      <h3 class="new-heading">WHAT DO YOU KNOW ABOUT US</h3>
      <p>Get the best car and truck hire deals in your Budget deol.com.au offers the best Car & Truck rental service in
        Melbourne, Sydney, Adelaide. We have over 200+ Vehicles in Australia. Wherever you are, we’ll set you up with
        best deal suited for you. Simply book online or on Call. We make it easy to rent a Truck & Car in Australia! Our
        all Trucks & Cars are in New Condition & well maintained
      </p>
      <button type="button" class="btn b1 sub-heading companyHeading ourCompanyBtn"
        style="background: #f0c540 !important;" tabindex="0" fdprocessedid="px3lr4" routerLink="/aboutus"> Our Company
      </button>
    </div>
  </div>
</div>
</div>
<div class="container">
<div class="container-fluid-end container mt-5">
  <div class="clientman">
    <div class="container-fluid text-center">
      <div class="row clientContainer">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
          <div class="col-12">
            <img src="../../assets/clientsay.png" width="100%" height="450px" class="img-fluid imgAlign">
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">

          <div class="text-start image-statisfied">
            <img src="../../assets/Satisfied Client.png" class="img-fluid">
          </div>
          <div class="text-client">

            <h1 class="text-start lastDiv">WHAT OUR CLIENTS SAY</h1>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>



