.container-fluid{
     display: flex;
    justify-content: center;
    margin-top: 35px; 
    
}
.car{
    margin-top: 50px;
    padding: 10px 20px 50px;

}
/* .con{
    
    margin: 30px;
    padding: 2rem;
} */

.card-img-top{
    align-self: center;
    border-radius:15cap;
margin-top: 20PX;
padding:20px    }
 .con.row{
    margin-top: -20px;
}
 

/* 
.mainpic{

    margin: 40px;
    padding: 2rem;
    margin-top: -8px;
  
    
} */

.containerpic{
display: flex;
align-items: center;

}
.card{
    border: 1px solid;
}
/* .content {
    display: flex;
    justify-content: space-around;
    position: absolute;
   /* margin-top: 380px; 
   padding-left: 30px;
 */
.icon{
    
    margin-left: 50px;
    
}
.last-img {
    display: flex;
    flex-direction: column;
}
.row-base {
   
    display: flex;
    flex-wrap: wrap;
    /* margin:35px ; */
   
   
}
.container-fluid-base{
    /* margin:75px; */
    margin-top: 60px;
  
    
} 

/* .clientman{
    margin-top: -50px;
    margin-bottom: -50px;
} */
.imgAlign{
    height: 450px !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
/* .settimeout{
    margin-left: -200px;
    position:relative;
} */
/* .k{
    position: absolute;
} */

.col-6{
    position: absolute;
    color: white; width: 100%;
    display: flex;
    margin-top: 370px;
}
.dan{
    width: 80%;
    padding-left: 5px;
    padding-top: 20px;
    display: flex;
  
}
.lower{width: 80%;padding-left: 5px;
    padding-top: 20px;
 
}
.tullas{
    width: 80%;
    padding-left: 5px;
    padding-top: 20px;
}
    .carousel-content{
        position: absolute;
        top:5%;
        left:10%;
        font-weight: 700px;
}
@media only screen and (max-width:760px) and(min-width:120px){
    .carousel-content{
        position: relative;
        top:15%;
        left:0%
    }
}
.carousel-content {
    padding: 20px;
}
.heading {
    margin-bottom: 20px;
    
}
.container-left{
    display: flex;
    justify-content: center;
}
